@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        scroll-behavior: smooth;
    }
}

@font-face {
    font-family: "AVERTA";
    src: url("/docs/fonts/AvertaDemo-Regular.otf");
  }