<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Demo</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arima&display=swap"
      rel="stylesheet"
    />
    <script src="/node_modules/tw-elements/dist/js/index.min.js"></script>
  </head>

  <body class="antialiased bg-black">
    <header
      class="sticky top-0 w-full bg-black text-white bg-opacity-80 h-18 flex items-center px-3 justify-between"
    >
      <div class="left">
        <span class="block text-2xl text-white font-averta p-2 font-semibold"
          >Portfolio</span
        >
      </div>

      <nav>
        <button
          class="p-2 focus:bg-gray-800 hover:bg-gray-800 rounded-lg focus:outline-none mr-2 md:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>

        <ul
          class="fixed left-0 right-0 min-h-screen bg-black opacity-80 space-y-2 p-5 mt-4 font-averta transform md:relative md:flex md:min-h-0 md:space-y-0 md:p-0 md:bg-opacity-0 md:opacity-100 md:mt-0 md:space-x-4"
        >
          <li
            class="hover:bg-gray-900 rounded-xl p-2 text-center focus:outline-none focus:bg-gray-800"
          >
            <a href="#">Home</a>
          </li>
          <li
            class="hover:bg-gray-900 rounded-xl p-2 text-center focus:outline-none focus:bg-gray-800"
          >
            <a href="#">About</a>
          </li>
          <li
            class="hover:bg-gray-900 rounded-xl p-2 text-center focus:outline-none focus:bg-gray-800"
          >
            <a href="#">Resume</a>
          </li>
          <li
            class="hover:bg-gray-900 rounded-xl p-2 text-center focus:outline-none focus:bg-gray-800"
          >
            <a href="#">Contact Me</a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="piyush-img" class="w-full">
      <img
        src="/layouts/src/Portflio_BG.png"
        alt="Piyush_BG"
        class="w-screen items-center"
      />
    </div>

    


  </body>
</html>
